body {
  margin: 0px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

.headerWrap {
  display: flex;
  flex-direction: column;
  height: 527px;
  background-color: #191a3b;
  padding: 30px 70px 0px 70px;
}

.menu svg {
  fill: #ffffff;
  height: 15.2;
  margin-top: 10px;
  width: auto;
}

.menu {
  display: flex;
  height: 36px;
}

.menuItems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.item {
  display: flex;
}

.round {
  width: 3px;
  height: 3px;
  border-radius: 1px;
  background-color: #4e80f5;
  margin-right: 10px;
  margin-left: 36px;
  align-self: center;
}

.item span {
  font-family: "Merriweather Sans", sans-serif;
  color: #ffffff;
  font-size: 13px;
}

.iconDown {
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.arrowDown {
  border: solid white;
  border-width: 0px 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menuBtn {
  width: 142px;
  height: 36px;
  border-radius: 100px;
  border: solid 1px #e65149;
  background-image: linear-gradient(to bottom, #ff5151, #f84f4f);
  font-family: "Merriweather Sans", sans-serif;
  color: #ffffff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 39px;
}

.headerWrap h1 {
  font-family: "Rajdhani", sans-serif;
  font-size: 60px;
  color: #ffffff;
  margin-top: 124px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0px;
}

.line {
  width: 20px;
  height: 2px;
  border-radius: 0.5px;
  background-color: #ff5a52;
  margin: 0px auto;
  margin-top: 13px;
}

.resourcesWrap {
  display: flex;
  flex-direction: column;
  height: 177px;
  margin-top: 136px;
  background-image: linear-gradient(to bottom, #ffffff 10%, #f8f9ff);
  position: relative;
}

.itemWrap {
  position: absolute;
  top: -322px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.resItem {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.resItem:nth-child(2) {
  margin-left: 42px;
  margin-right: 42px;
}*/

.resItemCard {
  width: 276px;
  height: 358.6px;
  border-radius: 2.8px;
  box-shadow: 0 7px 14px 0 rgba(51, 51, 51, 0.2);
  border: solid 1.4px #e1e1e1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 17.5px;
}

.cardHeader {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 23px;
}

.cardHeader img {
  margin-bottom: 18.7px;
}

.blueRec {
  width: 231.1px;
  height: 0px;
  border: solid 1.4px #dce6fd;
  background-color: #dce6fd;
}

.blueRec:nth-child(2) {
  margin-bottom: 9.1px;
}

.blueRec:nth-child(4) {
  margin-top: 10.5px;
}

.headerSpan {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #4e80f5;
}

.blueRecBig {
  width: 276px;
  height: 6.8px;
  background-color: #4e80f5;
  margin-top: 22.5px;
}

.cardImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 233px;
  border-radius: 2.8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cardImg img {
  width: 52px;
  height: 52px;
}

.resourceSpan {
  font-family: "Rajdhani", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #47495a;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.contentFilter {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
}

.filtersHeader {
  display: flex;
  margin-bottom: 30px;
  height: 36px;
  width: 100%;
  align-items: center;
}

.filters {
  width: 100%;
}

.filters span {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  color: #47495a;
  margin-right: 45px;
}

.filters span:nth-child(1) {
  color: #4e80f5;
  margin-left: 116px;
}

.filters span:nth-child(6) {
  margin-right: 0px;
}

.BtnWarp {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 116px;
}

.searchBtn {
  width: 183px;
  height: 36px;
  border-radius: 100px;
  border: solid 1px #cccccc;
  align-items: center;
  justify-content: center;
  display: flex;
}

.searchBtn img {
  height: 12px;
  width: auto;
  margin-right: 7px;
}

.searchBtn span {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  color: #a0a0a0;
}

.filtersBorder {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) -2%,
    #d3dffc 8%,
    #d3dffc 89%,
    rgba(255, 255, 255, 0) 99%
  );
  display: flex;
}

.activeFilter {
  width: 17.5px;
  height: 3px;
  background-color: #4e80f5;
  opacity: 1;
  margin-left: 117px;
}

.contentItemsWrap {
  margin-top: 100px;
  margin-bottom: 66px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 188px;
  margin-right: 188px;
}

.contentItem {
  flex: 1 0 21%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.contentItemCard {
  width: 196px;
  height: 254.9px;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 #e6e6e6;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
}

.contentBlueRec {
  width: 100%;
  height: 0px;
  border: solid 0.1px #dce6fd;
  background-color: #dce6fd;
}

.contentBlueRec:nth-child(2) {
  margin-bottom: 6.4px;
}

.contentBlueRec:nth-child(4) {
  margin-top: 6.7px;
}

.contentHeaderSpan {
  font-family: "Rajdhani", sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #4e80f5;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contentBlueRecBig {
  width: 196px;
  height: 4.8px;
  background-color: #4e80f5;
  margin-top: 16px;
}

.contentCardImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 147px;
  border-radius: 2.8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.downBack {
  width: 100%;
  height: 147px;
  border-radius: 2.8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 16%,
    rgba(0, 0, 0, 0.8)
  );
}

.downWrap {
  position: absolute;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 1px;
  bottom: 13.2px;
}

.downWrap img {
  height: 10px;
  width: auto;
}

.contentSpan {
  font-family: "Rajdhani", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #47495a;
  margin-top: 17.4px;
}

.contentSpanSub {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  color: #47495a;
  margin-top: 8px;
}

.contentFooter {
  display: flex;
  flex-direction: column;
  height: 97.2px;
  margin-bottom: 54.7px;
  width: 196px;
}

.footerSection {
  display: flex;
  flex-direction: column;
}

.upperFooter {
  width: 100%;
  height: 359px;
  background-image: url("./assets/contact-us-image-background-3-x_2020-10-25/contact-us-image-background-3-x.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.recWrap {
  display: flex;
}

.recHeadlineRight {
  width: 470px;
  height: 27px;
  opacity: 0.08;
  background-image: linear-gradient(
    to right,
    #4e80f5 80%,
    rgba(8, 8, 10, 0) 114%
  );
}

.recHeadlineLeft {
  width: 470px;
  height: 27px;
  opacity: 0.08;
  background-image: linear-gradient(
    to left,
    #4e80f5 80%,
    rgba(8, 8, 10, 0) 114%
  );
}

.headline span {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 40px;
  color: #cccccc;
  position: absolute;
  top: -8px;
  line-height: 1.13;
  letter-spacing: 1px;
}

.subline {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 15px;
  color: #cccccc;
  margin-top: 18px;
}

.contactBtn {
  width: 170px;
  height: 44px;
  border-radius: 100px;
  border: solid 1px #e65149;
  background-image: linear-gradient(to bottom, #ff5151, #f84f4f);
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
}

.bottomFooter {
  height: 368px;
  background-image: linear-gradient(to bottom, #181b28, #151723);
  display: flex;
  flex-direction: column;
}

.itemsFooterWrap {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}
.categoryWrap {
  display: flex;
  margin-top: 55px;
  width: 45%;
}

.category {
  display: flex;
  flex-direction: column;
  margin-right: 101px;
}

.category:nth-child(4) {
  margin-right: 0px;
}

.catTiltle {
  letter-spacing: 2px;
  color: #5b5d73;
  font-size: 11px;
  font-family: "Merriweather Sans", sans-serif;
}

.catitem {
  font-size: 13px;
  font-family: "Merriweather Sans", sans-serif;
  color: #cccccc;
  margin-top: 19px;
}

.follow {
  display: flex;
  margin-top: 55px;
  width: 55%;
  flex-direction: column;
  align-items: flex-end;
}

.followImgWrap {
  display: flex;
  position: relative;
  margin-top: 16px;
  right: -12px;
}

.followItem {
  position: relative;
}

.followItemCircle {
  position: relative;
}

.followItemImg {
  position: absolute;
  left: 23px;
  top: 18px;
}

.footerFooter {
  display: flex;
  flex-direction: column;
  margin-top: 101px;
  height: 100%;
}

.footerLine {
  height: 1px;
  background-color: #2a2c3c;
}

.details {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  height: 100%;
  align-items: center;
}

.detailsItem {
  display: flex;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  color: #cccccc;
  width: 25%;
}

.detailsItem span {
  margin-right: 88px;
}

.secdo {
  display: flex;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 13px;
  color: #cccccc;
  justify-content: flex-end;
  width: 75%;
}
