<link rel="stylesheet" href="./app.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap"
  rel="stylesheet"
/>
<div class="container-fluid">
  <div class="headerWrap">
    <div class="menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="64"
        height="13"
        viewBox="0 0 64 13"
      >
        <path
          d="M13.905 12.144v-.98c0-.475.374-.847.834-.847h7.917c.47 0 .834.38.834.847v.982c0 .474-.374.846-.834.846h-7.917c-.47 0-.834-.38-.834-.848zm0-5.247v-.982c0-.474.37-.846.828-.846h7.14c.45 0 .827.379.827.846v.982c0 .475-.37.847-.827.847h-7.14c-.45 0-.828-.38-.828-.847zm.83-6.807h8.48c.457 0 .662.34.455.759l-.571 1.156c-.208.42-.747.76-1.205.76h-7.16c-.45 0-.829-.38-.829-.847V.936c0-.474.372-.846.83-.846zm15.252 12.903c-3.46-.537-5.142-2.647-5.142-6.452 0-3.884 1.873-6.451 5.639-6.451h4.782c.46 0 .67.346.476.773l-.511 1.128c-.192.424-.72.773-1.176.773H30.8c-1.809 0-2.743 1.26-2.778 3.745.017 2.527.845 3.808 2.46 3.808h4.801c.462 0 .831.38.831.847v.982c0 .474-.37.846-.826.846h-5.302zM.754 4.337v-.363C.754 1.694 1.936.09 4.044.09h7.003c.446 0 .666.346.472.773l-.511 1.128c-.192.424-.722.773-1.18.773H5.702c-.458 0-.885.003-.954.007-.645.065-1.132.616-1.132 1.28 0 .71.564 1.287 1.258 1.287h.976c.886 0 2.053.002 2.58.013 2.037.044 3.354 1.375 3.354 3.39v.364c0 2.312-1.102 3.888-3.298 3.887H1.512c-.46 0-.682-.346-.492-.774l.501-1.127c.189-.424.714-.774 1.17-.774l5.032-.003c.664-.04 1.184-.604 1.184-1.283 0-.709-.562-1.285-1.267-1.287 0 0-1.301.005-2.359.005-.614 0-1.021-.002-1.21-.005C2.087 7.708.754 6.339.754 4.337zM38.624.09h5c3.943.076 5.658 2.404 5.658 6.451s-1.611 6.451-5.135 6.451h-5.25c-.462 0-.834-.38-.834-.848v-6.23c0-.466.373-.848.832-.848h1.213c.456 0 .832.382.832.854v4.322c0 .042.033.076.074.076h2.617c1.624 0 2.452-1.284 2.46-3.816-.025-2.48-1.024-3.737-2.968-3.737h-3.277c-.453 0-.99-.347-1.186-.774L38.143.864c-.194-.424.02-.774.482-.774zm12.088 6.451c0-4.28 2.117-6.451 6.292-6.451 4.116 0 6.292 2.23 6.292 6.451 0 4.22-2.176 6.451-6.292 6.451-4.057 0-6.292-2.29-6.292-6.45zm3.242 0c0 2.547 1.039 3.839 3.089 3.839 2.165 0 3.09-1.148 3.09-3.839 0-2.51-1.069-3.838-3.09-3.838-2.108 0-3.09 1.22-3.09 3.838z"
        />
      </svg>
      <div class="menuItems">
        <div class="item">
          <div class="round"></div>
          <span>Approach</span>
        </div>
        <div class="item">
          <div class="round"></div>
          <span>Product</span>
        </div>
        <div class="item">
          <div class="round"></div>
          <span>Customers</span>
        </div>
        <div class="item">
          <div class="round"></div>
          <span>Partners</span>
        </div>
        <div class="item">
          <div class="round"></div>
          <span>Company</span>
          <div class="iconDown"><i class="arrowDown"></i></div>
        </div>
        <div class="menuBtn">
          <span>REQUET A DEMO</span>
        </div>
      </div>
    </div>
    <h1>RESOURCES</h1>
    <div class="line"></div>
  </div>
  <div class="resourcesWrap">
    <div class="itemWrap">
      <div class="resItem">
        <div class="resource">
          <div class="resItemCard">
            <div class="cardHeader">
              <img
                src="./assets/combined-shape_2020-10-25/combined-shape.png"
              />
              <div class="blueRec"></div>
              <span class="headerSpan">Next Generation Incident Response</span>
              <div class="blueRec"></div>
            </div>
            <div class="blueRecBig"></div>
            <div
              class="cardImg"
              style="
                background-image: url(../codicatesecdo/assets/resourcesImages/sanFranBridge.jpg);
              "
            ></div>
          </div>
          <span class="resourceSpan">WHITE PAPER</span>
        </div>
      </div>
      <div class="resItem">
        <div class="resource">
          <div class="resItemCard">
            <div class="cardHeader">
              <img
                src="./assets/combined-shape_2020-10-25/combined-shape.png"
              />
              <div class="blueRec"></div>
              <span class="headerSpan">Detecting and Blocking Ransomware</span>
              <div class="blueRec"></div>
            </div>
            <div class="blueRecBig"></div>
            <div
              class="cardImg"
              style="
                background-image: url(../codicatesecdo/assets/resourcesImages/desk.jpg);
              "
            >
              <img src="./assets/playBtnBig/group-5.png" />
            </div>
          </div>
          <span class="resourceSpan">VIDEO</span>
        </div>
      </div>
      <div class="resItem">
        <div class="resource">
          <div class="resItemCard">
            <div class="cardHeader">
              <img
                src="./assets/combined-shape_2020-10-25/combined-shape.png"
              />
              <div class="blueRec"></div>
              <span class="headerSpan">Secdo Platform Data Sheet</span>
              <div class="blueRec"></div>
            </div>
            <div class="blueRecBig"></div>
            <div
              class="cardImg"
              style="
                background-image: url(../codicatesecdo/assets/resourcesImages/mac.jpg);
              "
            ></div>
          </div>
          <span class="resourceSpan">DATA SHEET</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mainContent">
    <div class="contentFilter">
      <div class="filtersHeader">
        <div class="filters">
          <span>All</span>
          <span>White Papers</span>
          <span>Ebooks</span>
          <span>Videos</span>
          <span>Data Sheets</span>
          <span>Case Studies</span>
        </div>
        <div class="BtnWarp">
          <div class="searchBtn">
            <img src="./assets/icons/search/Asset 2@2x.png" />
            <span>Search Resources</span>
          </div>
        </div>
      </div>
      <div class="activeFilter"></div>
      <div class="filtersBorder"></div>
    </div>
    <div class="contentItemsWrap">
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">Secdo for Mssp Data Sheet</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo//assets/contentImages/first.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">Secdo for Mssp Data Sheet</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">Automatic Siem Alert Validation</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/second.jpg);
            "
          >
            <img src="./assets/playBtnSmall/group-9.png" />
          </div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">VIDEO</span>
          <span class="contentSpanSub">Automatic Siem Alert Validation</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">5 Biggest IR Mistakes</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/third.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">EBOOK</span>
          <span class="contentSpanSub">5 Biggest IR Mistakes</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">
              6 Ways to Accelerate Incident Response
            </div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/fourth.jpg);
            "
          >
            <div class="downBack">
              <div class="downWrap">
                <img src="./assets/icons/downloadIcon/Asset 1@2x.png" />
                <span>DOWNLOAD NOW</span>
              </div>
            </div>
          </div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">WHITE PAPER</span>
          <span class="contentSpanSub" style="color: #4e80f5"
            >6 Ways to Accelerate Incident Response</span
          >
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">DDos Response Playbook</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/fourth.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">DDos Response Playbook</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">
              I24 News: Reaction to the Breach at Israel Company
            </div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/sixth.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">WHITE PAPER</span>
          <span class="contentSpanSub"
            >I24 News: Reaction to the Breach at Israel Company</span
          >
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">
              Contextual Investigation and Threat Hunting
            </div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/seventh.jpg);
            "
          >
            <img src="./assets/playBtnSmall/group-9.png" />
          </div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">VIDEO</span>
          <span class="contentSpanSub"
            >Contextual Investigation and Threat Hunting</span
          >
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">DDos Response Playbook</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/eight.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">Perrmpitive IR</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">DDos Response Playbook</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/eight.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">DDos Response Playbook</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">Attacks and Ransomware</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/tenth.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">WHITE PAPER</span>
          <span class="contentSpanSub">Attacks and Ransomware</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">
              Manage Cyber Security With Shai Morag, CEO
            </div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/eleventh.jpg);
            "
          >
            <img src="./assets/bluePlay/group-5.png" />
          </div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">VIDEO</span>
          <span class="contentSpanSub" style="color: #4e80f5"
            >Manage Cyber Security With Shai Morag, CEO</span
          >
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">DDos Response Playbook</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/eleventh.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">Perrmpitive IR</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">DDos Response Playbook</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/contentImages/thirteen.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">DDos Response Playbook</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">Attacks and Ransomware</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/resourcesImages/mac.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">WHITE PAPER</span>
          <span class="contentSpanSub">Attacks and Ransomware</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">5 Biggest IR Mistakes</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/resourcesImages/mac.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">EBOOK</span>
          <span class="contentSpanSub">5 Biggest IR Mistakes</span>
        </div>
      </div>
      <div class="contentItem">
        <div class="contentItemCard">
          <div class="cardHeader">
            <img src="./assets/combined-shape_2020-10-25/combined-shape.png" />
            <div class="contentBlueRec"></div>
            <div class="contentHeaderSpan">DDos Response Playbook</div>
            <div class="contentBlueRec"></div>
          </div>
          <div class="contentBlueRecBig"></div>
          <div
            class="contentCardImg"
            style="
              background-image: url(../codicatesecdo/assets/resourcesImages/mac.jpg);
            "
          ></div>
        </div>
        <div class="contentFooter">
          <span class="contentSpan">DATA SHEET</span>
          <span class="contentSpanSub">Perrmpitive IR</span>
        </div>
      </div>
    </div>
    <div class="footerSection">
      <div class="upperFooter">
        <div class="headline">
          <div class="recWrap">
            <div class="recHeadlineLeft"></div>
            <div class="recHeadlineRight"></div>
          </div>
          <span>NEXT GENERATION INCIDENT RESPONSE</span>
        </div>
        <div class="subline">
          Investigate, Validate and Remediate All Threats in Seconds
        </div>
        <div class="contactBtn">CONTACT US</div>
      </div>
      <div class="bottomFooter">
        <div class="itemsFooterWrap">
          <div class="categoryWrap">
            <div class="category">
              <span class="catTiltle">CATEGORY</span>
              <span class="catitem">Resource</span>
              <span class="catitem">Blog</span>
              <span class="catitem">News</span>
            </div>
            <div class="category">
              <span class="catTiltle">CATEGORY</span>
              <span class="catitem">Product</span>
              <span class="catitem">Technology</span>
              <span class="catitem">Partners</span>
            </div>
            <div class="category">
              <span class="catTiltle">COMPANY</span>
              <span class="catitem">Careers</span>
              <span class="catitem">About</span>
              <span class="catitem">Support</span>
            </div>
            <div class="category">
              <span class="catTiltle">CONTACT US</span>
              <span class="catitem">+1 917 338 2277</span>
              <span class="catitem">info@sec.do</span>
            </div>
          </div>
          <div class="follow">
            <span class="catTiltle" style="margin-right: 74px">FOLLOW US</span>
            <div class="followImgWrap">
              <div class="followItem">
                <img
                  class="followItemCircle"
                  src="./assets/circleBlue/rectangle-17.png"
                />
                <img
                  class="followItemImg"
                  src="./assets/linkedin_2020-10-25/linkedin.png"
                />
              </div>
              <div class="followItem">
                <img
                  class="followItemCircle"
                  src="./assets/circleBlue/rectangle-17.png"
                />
                <img
                  class="followItemImg"
                  style="left: 25px"
                  src="./assets/faacebook_2020-10-25/faacebook.png"
                />
              </div>
              <div class="followItem">
                <img
                  class="followItemCircle"
                  src="./assets/circleBlue/rectangle-17.png"
                />
                <img
                  class="followItemImg"
                  src="./assets/twitter_2020-10-25/twitter.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="footerFooter">
          <div class="footerLine"></div>
          <div class="details">
            <div class="detailsItem">
              <span>Privacy Policy</span>
              <span>Terms of Use</span>
            </div>
            <span class="secdo">© 2017 Cyber Secdo Ltd</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
